.mouwhome-hero
	%h2
		Mathilde Mouw
	%h3
		Tweeter
	%h3
		LinkerIn
	%h3
		Githubber
%h1
	Maker of things
	%a(title="Snake in Javascript"){:href => "http://mathildemouw.github.io/Object-Oriented-JS-Snake/"} Project 1: Snake
	%a(title="Mario in ThreeJS"){:href => "http://mathildemouw.github.io/mario-threejs/"} Project 2: Mario