<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
  	<link rel="stylesheet" type="text/css" href="/hackstyle.css">
    <title>Mathilde Mouw</title>
  </head>
  <body class="mouwhome-hero" style="background-color:green;">
  	<p style="color: red;">This is a paragraph is the layout: </p>
    <%= yield %>
  </body>
</html>
